.white{
    background-color: white;
    padding: 10px 0px;
}

.block{
   display:inline-flex;
   justify-content: space-evenly;
}  

.fullblock {
    display: block;
    padding: 5px;
    word-wrap: break-word;
}

.grid{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr;
    justify-content: center;
}

.lining{
    border-top: 1px solid black;
}

.hovering:hover{
    cursor: pointer;
}

.marginificate{
    margin-left: 35vw;
}

.marginificate2{
    margin-left: 50vw;
}

@media screen and (max-width:765px) {
    .grid{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

@media screen and (max-width : 992px) {
    .marginificate{
        margin-left: 0vw !important;
    }
    .marginificate2{
        margin-left: 0vw !important;
    }
}